[Unit]
Description=Call History App

[Service]
WorkingDirectory=%h/call-history
ExecStart=poetry run app
Restart=always

[Install]
WantedBy=default.target

